$color-black: #000;
$color-white: #fff;
$color-gray-1: #cdced0;
$color-gray-2: #333;
$color-gray-3: #999;


$foo: #1f0ef2;
$foo: #5429e9;
$foo: #2b50f7;
$foo: #638dc9;
$foo: #00a6ed;
$foo: #41feff;

$foo: #90ffd9;

$foo: #e5e5e5;
$foo: #888888;
$foo: #909090;
$foo: #bababa;
$foo: #aaaaaa;

$foo: #55ffe7;
$color-red: #ff0000;
