$color-black: #000;
$color-cyan: #41feff;
$color-purple: #5429e9;
$color-red: #ff0000;
$color-white: #fff;

$color-blue-500: #1f0ef2;
$color-blue-400: #2b50f7;
$color-blue-300: #638dc9;
$color-blue-200: #00a6ed;

$color-green: #90ffd9;

$color-gray-900: #333333;
$color-gray-500: #888888;
$color-gray-400: #909090;
$color-gray-300: #aaaaaa;
$color-gray-200: #bababa;
$color-gray-100: #cccccc;
$color-gray-50: #e5e5e5;
$color-gray-25: #efefef;

$color-primary: $color-blue-500;
$color-error: $color-red;
