section.hero-about(animate-stagger)
  .hero-about__main
    .hero-about__header.t-container
      +animated_header(
        ['<span class="text-blue">Leading the way</span>', 'for 35 years'],
        'xl',
        2,
        false
      ).text-black

      p(animate-fade-up).text-gray-400
        | The industry leader in Financial Communications Solutions.

    .hero-about__mosaic
      .hero-about__tile
        +image_wiper('https://placehold.co/1000x1000', 'blue-500', 'hero-about__image')(loading="eager")

      .hero-about__tile
        +image_wiper('https://placehold.co/1000x1000', 'blue-500', 'hero-about__image')(loading="eager")

      .hero-about__tile
        +image_wiper('https://placehold.co/1000x1000', 'blue-500', 'hero-about__image')(loading="eager")

      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2065 399" fill="none").hero-about__svg
        path(stroke="#00D0D1" stroke-width="10" d="M0 254.307h406.968c133.875 0 263.224 24.714 364.145 69.574 100.922 44.861 230.267 69.574 364.147 69.574h584.45")
        path(stroke="#41FEFF" stroke-width="10" d="M.29 186.333h363.483c158.68 0 308.721 38.17 407.629 103.701 98.907 65.531 248.948 103.702 407.628 103.702H1720")
        path(stroke="#00A6ED" stroke-width="10" d="M.29 102.075h406.967c133.876 0 263.224 51.8 364.145 145.83 100.922 94.03 230.268 145.83 364.148 145.83H1720")
        path(stroke="#1F0EF2" stroke-width="10" d="M.14 5h365.098c157.763 0 307.044 71.436 406.016 194.295C870.224 322.153 1019.5 393.59 1177.27 393.59H2065")

  p.hero-about__body.text-gray-500(animate-fade-up)
    span.text-black A trusted pioneer trusted for nearly four decades.
    | &nbsp;We're specialists in bringing together industry experts and financial partners during your most critical period. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
