@import '../_cores/helpers.scss';

$module: 'h-btn';

.#{$module} {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: rem(8);
  justify-content: center;

  margin: 0;
  border: none;
  height: rem(40);

  font-size: rem(14);
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  &--reverse {
    flex-direction: row-reverse;
    vertical-align: bottom;
  }

  &--primary,
  &--secondary,
  &--ghost {
    padding-block: 0;
    padding-inline: rem(28);
    border-radius: rem(20);
  }

  &--primary:not(&--animated),
  &--secondary,
  &--ghost {
    @media (hover: hover) {
      transition: transform 125ms ease-in-out;

      &:hover {
        transform: translateY(#{rem(-2)});
      }
    }
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &--primary#{&}--light {
    background-color: $color-white;
    color: $color-black;
  }

  &--secondary {
    background-color: $color-cyan;
    color: $color-black;
  }

  &--ghost {
    background-color: $color-white;
    border: 1px solid $color-gray-50;
    transition: background-color 125ms linear;
    color: $color-black;

    @media (hover: hover) {
      &:hover {
        background-color: $color-gray-25;
      }
    }
  }

  &--text {
    color: $color-primary;
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(24);
    text-transform: capitalize;

    @media (hover: hover) {
      text-decoration: underline;
      text-decoration-thickness: rem(2);
      text-underline-offset: rem(4);
    }
  }

  &--large {
    height: rem(60);
    padding-block: 0;
    padding-inline: rem(40);
    border-radius: rem(30);
    gap: rem(10)
  }

  &--iconOnly {
    padding: 0;
    width: rem(40);
    height: rem(40);

    &.#{$module}--large {
      width: rem(50);
      height: rem(50);
    }
  }

  &--icon {
    svg {
      display: block;
      flex: 0 0 auto;
      width: rem(24);
      height: rem(24);
      color: currentColor;
    }

    &.#{$module}--large svg {
      width: rem(36);
      height: rem(36);
    }

    &:not(.#{$module}--animated) {
      padding-inline-start: rem(20);
      padding-inline-end: rem(8);

      &.#{$module}--large {
        padding-inline-end: rem(16);
      }

      &.#{$module}--reverse {
        padding-inline-start: rem(8);
        padding-inline-end: rem(20);
      }

      &.#{$module}--large#{$module}--reverse {
        padding-inline-start: rem(16);
      }
    }
  }

  &--animated {
    --offset: #{rem(8)};

    &.#{$module}--large {
      --offset: #{rem(16)};
    }

    .#{$module}__icon {
      position: absolute;
      top: auto;
      right: var(--offset);
    }

    .#{$module}__label,
    .#{$module}__icon {
      transition: opacity 125ms linear, transform 125ms ease-in-out;
    }

    .#{$module}__icon {
      opacity: 0;
      transform: translateX(calc(var(--offset) * -1));
    }

    @media (hover: hover) {
      &:hover .#{$module}__icon {
        opacity: 1;
        transform: translateX(0);
      }

      &:hover .#{$module}__label {
        transform: translateX(calc((var(--offset) + #{rem(6)}) * -1));
      }
    }
  }

  &[disabled],
  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: .3;
  }

  &:focus-visible {
    @extend .focus-visible-style;
  }
}
