$module: 'features-ipo';

.#{$module} {
  padding-inline-start: rem(16);

  @include mq(map-get($grid-breakpoints, 'lg')) {
    padding-inline-start: clamp(#{rem(16)}, calc(252 / 1800 * 100vw), #{rem(248)});
  }

  @media (min-width: 1800px) {
    padding-inline-start: calc((100vw - #{rem(1640)}) / 2 + #{rem(168)});
  }
}
