$module: 'our-values';

.#{$module} {
  &-wrapper {
    padding-block-start: rem(60);
    padding-block-end: rem(60);
    border-block-end: rem(1) solid $color-gray-200;
    display: flex;
    flex-direction: column;

    @include mq(map-get($grid-breakpoints, 'lg')) {
      flex-direction: row;
      justify-content: space-between;
      padding-block-start: rem(120);
      padding-block-end: rem(120);
    }
  }

  &__header {
    max-width: rem(372);

    &__title {
      margin-block-end: rem(32);
    }

    &__body {
      margin-block-end: rem(32);
    }
  }

  &__content {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    flex-basis: 100%;

    border: rem(1) solid $color-gray-200;
    border-radius: rem(20);
    overflow: hidden;

    @include mq(map-get($grid-breakpoints, 'lg')) {
      flex-basis: 55%;
    }

    &__icon-toggler {
      display: block;
      margin-inline-end: 1em;
      color: $color-gray-250;

      width: clamp(#{rem(12)}, calc(24 / 1800 * 100vw), #{rem(24)});
      height: clamp(#{rem(12)}, calc(24 / 1800 * 100vw), #{rem(24)});
      font-size: clamp(#{rem(12)}, calc(24 / 1800 * 100vw), #{rem(24)});

      transition: transform 300ms ease-out;

      [open] & {
        color: $color-white;
        transform: rotate(90deg);
      }

      i {
        vertical-align: text-top;
      }
    }

    &__icon {
      position: relative;
      color: $color-white;
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 300ms ease-out;
      flex-shrink: 0;

      font-size: clamp(#{rem(14)}, calc(24 / 1800 * 100vw), #{rem(24)});
      width: clamp(#{rem(30)}, calc(60 / 1800 * 100vw), #{rem(60)});
      height: clamp(#{rem(30)}, calc(60 / 1800 * 100vw), #{rem(60)});

      i {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
      }

      [open] & {
        opacity: 1;
      }
    }

    &__title {
      flex: 1 1 auto;
      color: $color-gray-250;
      font-size: rem(20);
      line-height: 1;
      text-transform: uppercase;
      font-size: clamp(#{rem(20)}, calc(32 / 1800 * 100vw), #{rem(32)});

      [open] & {
        color: $color-white;
      }
    }

    &__summary {
      transition: background-color 300ms ease-in-out;
      padding-block: clamp(#{rem(24), calc(32 / 1800 * 100vw), #{rem(32)}});
      padding-inline: clamp(#{rem(16), calc(40 / 1800 * 100vw), #{rem(40)}});

      &::-webkit-details-marker,
      &::marker {
        content: '';
        display: none;
      }

      [open] & {
        background-color: $color-blue-400;
      }

      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: transform 125ms ease-in-out;

        [open] & {
          transform: translateY(#{rem(8)});
        }
      }
    }

    &__content {
      --lines: 6;
      box-sizing: border-box;
      overflow: hidden;
      border-block-start: rem(1) solid $color-gray-200;
      color: $color-white;
      background-color: $color-white;
      transition:
        height 300ms ease-in-out,
        background-color 300ms ease-in-out,
        border 125ms linear 300ms;

      height: 0;
      padding-inline-start: clamp(#{rem(40)}, calc(88 / 1800 * 100vw), #{rem(88)});
      padding-inline-end: clamp(#{rem(16)}, calc(40 / 1800 * 100vw), #{rem(40)});
      font-size: clamp(#{rem(14)}, calc(16 / 1800 * 100vw), #{rem(16)});
      line-height: 1.5;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: clamp(#{rem(30)}, calc(60 / 1800 * 100vw), #{rem(60)});
      }

      &--no-divider {
        border-block-start: 0;
      }

      .#{$module}__content__details[open] + & {
        border-block-start: 0;
        background-color: $color-blue-400;
        height: calc(1.5em * var(--lines) + (60 / 16 * 1em));

        @include mq(map-get($grid-breakpoints, 'md')) {
          --lines: 5;
        }

        @include mq(map-get($grid-breakpoints, 'lg')) {
          --lines: 4;
        }

        @include mq(map-get($grid-breakpoints, 'xl')) {
          --lines: 3;
        }
      }
    }
  }
}
