$module: 'service-feature';

.#{$module} {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100dvh;

  overflow-x: hidden;

  &__header {
    max-width: rem(628);
  }

  &__scroller {
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: rem(20);

    & > * {
      flex: 0 0 auto;
    }
  }
}
