$module: 'sf-card';

.#{$module} {
  aspect-ratio: 502 / 593;
  padding-inline: rem(20);
  padding-block: rem(20);
  border-radius: rem(12);
  background-color: rgba(0, 0, 0, .1);
  color: $color-white;
  width: 75vw;
  overflow: hidden;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;

  &--full {
    padding-block: 0;
    padding-inline: 0;
  }

  @include mq(map-get($grid-breakpoints, 'md')) {
    width: auto;
    height: 52svh;
    max-width: rem(502);
    //min-width: rem(375);
  }

  &.bg-green,
  &.bg-cyan {
    color: $color-black;
  }

  &__icon {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: clamp(#{rem(36)}, 4.1vw, #{rem(60)});
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: rem(30);
    color: $color-white;

    font-size: clamp(#{rem(12)}, calc(16 / 1024 * 100vw), #{rem(24)});
  }

  &__title {
    margin-bottom: .73em;
    font-size: clamp(#{rem(19)}, 2vw, #{rem(30)});
    font-weight: 700;
    line-height: 1.06;
  }

  &__body {
    margin-bottom: 1em;
    font-size: clamp(#{rem(12)}, 1.25vw, #{rem(18)});
    line-height: 1.33;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
