$module: 'service-feature';

.#{$module} {
  &-wrapper {
    // https://gsap.com/community/forums/topic/31924-scrolltrigger-resizing-issue-with-pin/?do=findComment&comment=159693
    // full width without scrollbar
    width: calc(100vw - (100vw - 100%));
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100dvh;

  overflow-x: hidden;

  &__header {
    max-width: rem(628);
  }

  &__scroller {
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: rem(20);

    & > * {
      flex: 0 0 auto;
    }
  }
}
