-
  const careersAwardItems = [
    {
      value: '14',
      title: 'Nationalities',
      body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptates.',
      valueUnit: '+',
      theme: 'green',
    },
    {
      value: '9',
      title: 'Countries',
      body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptates.',
      valueUnit: '',
      theme: 'blue-200',
    },
    {
      value: '500',
      title: 'Experts Worldwide',
      body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptates.',
      valueUnit: '+',
      theme: 'blue-400',
    },
  ]

section.t-container.careers-award-block
  div.careers-award-block__award
    +picture({
        default: 'images/732x308.jpeg',
      }, 'The Hong Kong HR Awards').careers-award-block__award__img
  ul.careers-award-block__items
    each item in careersAwardItems
      li.careers-award-block__items__item
        +stat_card(item)
