section.jobs-callout
  .jobs-callout__main.t-container
    .jobs-callout__tiles
      - for (var i = 0; i < 8; i++)
        .jobs-callout__tile
          img(srcset="https://placehold.co/300x300 2x")

    .jobs-callout__content(animate-stagger)
      +animated_header([
        'Ready for a',
        '<span class="text-blue">dynamic career</span>',
        '<span class="text-blue">with nexus?</span>'
      ], 'xl', 2, false).text-black

      p(animate-fade-up).jobs-callout__body.text-gray-500.mt-8
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia distinctio fugit est libero error molestias cupiditate, tempore provident. Odit architecto reiciendis rem omnis cum molestiae obcaecati sed cupiditate officiis labore.

      div(animate-fade-up).mt-12
        +button({large: true})(href="#")
          | See available jobs

  include ./svg-line-block
