script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js')
script(defer src='https://kit.fontawesome.com/ee17cc38d9.js' crossorigin='anonymous')
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js")
script(defer src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous')
script(defer src="https://cdn.curator.io/published/e7e3f4fd-1962-4f1a-9681-f1c1bf8c2e1e.js")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')

// build:js
script(src="/js/app.js" defer)
// endbuild
