script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
script(defer src='https://kit.fontawesome.com/471177a310.js' crossorigin='anonymous')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js')
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')

// build:js
script(defer src="/js/app.js")
// endbuild
