div(style="position: absolute; width: 0; height: 0;")
  <?xml version="1.0" encoding="utf-8"?>
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <symbol viewBox="0 0 24 24" id="arrow-circled" fill="none">
        <circle cx="12" cy="12" r="12" fill="#90ffd9"/>
        <path d="M12.6255 7L17.6255 12L12.6255 17" stroke="black" stroke-width="1.07143"/>
        <path d="M17.2083 11.999H7" stroke="black" stroke-width="1.07143"/>
      </symbol>
      <symbol viewBox="0 0 24 24" id="search" fill="none">
        <path fill="currentColor" fill-rule="evenodd" d="m19.47 20.53-5-5 1.06-1.06 5 5-1.06 1.06Z" clip-rule="evenodd"/><path fill="currentColor" fill-rule="evenodd" d="M11 16.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14Z" clip-rule="evenodd"/>
      </symbol>
      <symbol viewBox="0 0 24 24" id="arrow-right" fill="none">
        <path fill="currentColor" fill-rule="evenodd" d="M18.47 11.78 12 5.31l1.06-1.06 7.531 7.53-7.53 7.53L12 18.25l6.47-6.47Z" clip-rule="evenodd"/><path fill="currentColor" fill-rule="evenodd" d="M5 11h14v1.5H5V11Z" clip-rule="evenodd"/>
      </symbol>
    </defs>
  </svg>
