- imageTransparent = 'images/transparent.png'

include common/accordion
include common/animated-header
include common/button
include common/img
include common/link
include common/style
include common/search-panel
