mixin accordion(title, icon = "plus", divider = false)
  div(class=`.h-accordion ${divider ? 'h-accordion--divider' : ''}`)
    details.h-accordion__details
      summary.h-accordion__summary
        span.h-accordion__title.font-extrabold= title
        if icon === "plus"
          span.h-accordion__icon
            i.fa-regular.fa-plus
          span.h-accordion__icon.h-accordion__icon--open
            i.fa-regular.fa-minus
        else
          span.h-accordion__icon
            i.fa-regular.fa-arrow-down
          span.h-accordion__icon.h-accordion__icon--open
            i.fa-regular.fa-arrow-up
      div.h-accordion__content!= content
        if block
          block
