mixin buttonTag(type = "")
  if type === "button"
    button(type="button")&attributes(attributes)
      block
  else if type === "submit"
    button(type="submit")&attributes(attributes)
      block
  else
    a&attributes(attributes)
      block

// @param {Object} options
// @param {mixin} options.icon
// @param {string} options.label
// @param {boolean} options.large
// @param {boolean} options.light
// @param {boolean} options.reverse
// @param {boolean} options.hoverAnimation
// @param {string} options.style ('primary', 'secondary', 'ghost', 'text')
mixin button(options = {})
  - var style = options.style || 'primary'
  - var theme = options.theme || 'dark'
  - var size = options.size || 'large'
  - var hasIcon = options.icon != undefined
  - var iconHref = hasIcon ? '#' + options.icon : ''
  - var iconOnly = block == undefined && options.icon != undefined
  - var type = options.type || ''
  -
    classes = [
      'h-btn',
      'h-btn--' + style,
      options.light == true && 'h-btn--light',
      options.large == true && 'h-btn--large',
      options.reverse == true && 'h-btn--reverse',
      options.hoverAnimation == true && 'h-btn--animated',
      iconOnly == false && hasIcon == true && 'h-btn--icon',
      iconOnly == true && 'h-btn--iconOnly'
    ]
  +buttonTag(type)&attributes(attributes)(class=classes)
    if block
      span.h-btn__label
        block
    if options.icon
      svg(role="presentation").h-btn__icon
        use(href=iconHref)
