
//- imgSrcSet consists of object  with the following field
//- imgSrcSet: {
//-   768: '/images/668x376.jpeg',
//-   default: '/images/3000x1516.jpeg',
//- }

mixin gallery_carousel_card(title, body, imgSrcSet)
  article.gallery-carousel-card
    div.gallery-carousel-card__img-wrapper
      +picture(imgSrcSet, title).gallery-carousel-card__img
    div.gallery-carousel-card__content
      h3.gallery-carousel-card__title.font-bold= title
      p.gallery-carousel-card__body.font-medium= body