-
  var default_options = {
    body: 'Lorem ipsum dolor sit amet',
    flip: false,
    icon: 'arrow-trend-up',
    link_label: 'More',
    link_url: '#',
    theme: 'cyan',
    title: 'Lorem ipsum',
  }

mixin service_feature_image(url = '')
  .sf-card.sf-card--full
    img(src=url).sf-card__image

mixin service_feature_card(options = default_options)
  article(class=["sf-card", options.flip == true && "sf-card--flip", "bg-" + options.theme])
    .sf-card__content
      if options.icon
        .sf-card__icon
          i(class=["fa-solid", "fa-" + options.icon])

      h3.sf-card__title= options.title

      if options.body
        p.sf-card__body= options.body

      if (options.link_url && options.link_label)
        +button({
          icon: 'arrow-right',
          light: options.theme != 'green' && options.theme != 'cyan',
          style: 'text',
        })(class="sf-card__link" href=options.link_url)= options.link_label

    if block
      .sf-card__media
        block

mixin service_feature(header = [], body = '')
  //- this need to be wrap, because the scroller pin
  //- will be added in the root otherwise, and it cause
  //- the scroller to be fixed in the wrong place
  section.service-feature-wrapper
    .service-feature
      .service-feature__header.mb-12(animate-stagger)
        +animated_header(header, 'xl', 2, false).mb-4.text-black
        p.mb-0(animate-fade-up)
          =body

      .service-feature__scroller
        .service-feature__content
          block
