-
  var data = [
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'cyan',
      title: 'Mergers & Acquisitions',
      flip: true,
    },
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'blue-200',
      title: 'Bond Offerings',
      flip: true,
    },
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'purple',
      title: 'Global Depositary Receipt',
      flip: true,
    },
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'purple',
      title: 'Financial Reports',
      flip: true,
    },
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'green',
      title: 'Regulatory Filings',
      flip: true,
    },
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'blue-300',
      title: 'Financial Communications',
      flip: true,
    },
    {
      body: 'Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.',
      theme: 'blue-500',
      title: 'Marketing Comms',
      flip: true,
    }
  ]

section.ipo-services(ipo-services animate-stagger)
  div.t-container
    +animated_header(['IPO', '<span class="text-blue">Services</span>'], 'xl', 2, false).text-black.ipo-services__title

    p.ipo-services__desc.font-medium(animate-fade-up)
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient.

  ul.ipo-services__cards(ipo-services-cards animate-fade-up)
    li.ipo-services__cards__item
      +service_feature_image('https://placehold.co/1000x1000')

    each obj in data
      li.ipo-services__cards__item
        +service_feature_card(obj)
          img(src="images/service-feature-card-lines.png")

  div.t-container.ipo-services__progress.mt-10
    +progress_bar()(ipo-services-progress)
