-
  var data = [
    {
      image: 'images/service-feature-card-lines.png',
      theme: 'cyan',
      title: 'Project Management',
    },
    {
      icon: 'merge',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'cyan',
      title: 'Mergers & Acquisitions',
    },
    {
      icon: 'money-bill-trend-up',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'blue-200',
      title: 'Bond Offerings',
    },
    {
      icon: 'globe',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'purple',
      title: 'Global Depositary Receipt',
    },
    {
      icon: 'file-invoice-dollar',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'purple',
      title: 'Financial Reports',
    },
    {
      icon: 'gavel',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'green',
      title: 'Regulatory Filings',
    },
    {
      icon: 'comments-dollar',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'blue-300',
      title: 'Financial Communications',
    },
    {
      icon: 'comment',
      image: 'images/service-feature-card-lines.png',
      link_label: 'Explore more',
      link_url: '#',
      theme: 'blue-500',
      title: 'Marketing Comms',
    }
  ]

.features-ipo.basic-section-gap-top
  +service_feature(
    ["IPO", "<span class=\"text-blue\">Services</span>"],
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam natus iusto dolorum maiores totam asperiores velit sunt earum magni. Eligendi inventore necessitatibus, obcaecati ipsam quibusdam minus nam harum tempora expedita?"
  )
    +service_feature_image('https://placehold.co/1000x1000')

    each obj in data
      +service_feature_card(obj)
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolor praesentium placeat? Voluptates, iusto, laborum doloribus, magnam deserunt maxime quidem facere sint voluptate reprehenderit repellendus! Incidunt magnam rem corporis eveniet.
