.text-red {
  color: $color-red;
}

.text-blue {
  color: $color-blue-500;
}

.text-black {
  color: $color-black;
}

.text-gray-2 {
  color: $color-gray-200;
}

.text-gray-500 {
  color: $color-gray-500;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.bg-cyan {
  background-color: $color-cyan;
}

.bg-purple {
  background-color: $color-purple;
}

.bg-red {
  background-color: $color-red;
}

.bg-white {
  background-color: $color-white;
}

.bg-green {
  background-color: $color-green;
}

.bg-blue-500 {
  background-color: $color-blue-500;
}

.bg-blue-400 {
  background-color: $color-blue-400;
}

.bg-blue-300 {
  background-color: $color-blue-300;
}

.bg-blue-200 {
  background-color: $color-blue-200;
}

.bg-gray-500 {
  background-color: $color-gray-500;
}

.bg-gray-400 {
  background-color: $color-gray-400;
}

.bg-gray-300 {
  background-color: $color-gray-300;
}

.bg-gray-200 {
  background-color: $color-gray-200;
}

.bg-gray-50 {
  background-color: $color-gray-50;
}

.bg-gray-25 {
  background-color: $color-gray-25;
}

p:has(button) {
  margin-bottom: 0;
}

@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: #{rem($i * 4)}
  }

  .mr-#{$i} {
    margin-right: #{rem($i * 4)}
  }

  .mb-#{$i} {
    margin-bottom: #{rem($i * 4)}
  }

  .ml-#{$i} {
    margin-left: #{rem($i * 4)}
  }
}

.focus-visible-style {
  outline-color: $color-primary;
  outline-offset: rem(4);
  outline-style: solid;
  outline-width: rem(4);
}

.visually-hidden {
  position: relative;
  width: auto;
  height: auto;
  margin: inherit;
  padding: inherit;
  overflow: hidden;
  clip: unset;
  border: inherit;
}

