.text-red {
  color: $color-red;
}

.text-blue {
  color: $color-blue-500;
}

.text-black {
  color: $color-black;
}

.text-gray-2 {
  color: $color-gray-200;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.fit-text-lg {
  font-size: clamp(#{rem(35)}, calc(35 / 414 * 100vw), #{rem(70)});
  line-height: .85;
}

.fit-text-xl {
  font-size: clamp(#{rem(40)}, calc(40 / 414 * 100vw), #{rem(80)});
  line-height: .85;
}

.fit-text-xxl {
  font-size: clamp(#{rem(50)}, calc(50 / 414 * 100vw), #{rem(100)});
  line-height: .85;
}

p:has(button) {
  margin-bottom: 0;
}

@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: #{rem($i * 4)}
  }

  .mr-#{$i} {
    margin-right: #{rem($i * 4)}
  }

  .mb-#{$i} {
    margin-bottom: #{rem($i * 4)}
  }

  .ml-#{$i} {
    margin-left: #{rem($i * 4)}
  }
}

