extends ./_layouts/layout

block container
  +breadcrumbs([
    {
      label: 'Home',
      href: '/',
    },
    {
      label: 'About',
      href: '/about',
    },
  ])

  +sticky_nav([
    {
      anchor: '#our-values',
      title: 'Our Values Section',
    },
    {
      anchor: '#people',
      title: 'People Section',
    },
    {
      anchor: '#timeline',
      title: 'Company Timeline Section',
    },
    {
      anchor: '#statistics',
      title: 'Statistics Section',
    },
    {
      anchor: '#culture',
      title: 'Culture Section',
    },
    {
      anchor: '#collaborative-facilities',
      title: 'Collaborative Facilities Section',
    },
  ])
    div(id='our-values')
      include ./_blocks/our-values
    div(id='people')
      include ./_blocks/people-carousel
    div(id='timeline')
      include ./_blocks/timeline-carousel
    div(id='statistics')
      include ./_blocks/statistics
    div(id='culture')
      +culture_carousel('blue', [
        {
          img: '/images/1640x1800.jpeg',
          title: 'Title 1',
          desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum veniam maiores tenetur veritatis, repellendus ratione, culpa, ab neque voluptate impedit repudiandae doloribus sit atque a ducimus rem dolorem suscipit sunt.',
          href: 'https://google.com',
          ctaLabel: 'Whut?',
        },
        {
          img: '/images/1640x1800.jpeg',
          title: 'Title 2',
          desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum veniam maiores tenetur veritatis, repellendus ratione, culpa, ab neque voluptate impedit repudiandae doloribus sit atque a ducimus rem dolorem suscipit sunt.',
        },
        {
          img: '/images/1640x1800.jpeg',
          title: 'Title 3',
          desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum veniam maiores tenetur veritatis, repellendus ratione, culpa, ab neque voluptate impedit repudiandae doloribus sit atque a ducimus rem dolorem suscipit sunt.',
          href: 'https://google.com',
          ctaLabel: 'Whut?',
        },
      ], 'At TOPPAN Nexus, we\'ve worked hard to foster an internal culture of:', 'culture-carousel-1')
    div(id='collaborative-facilities')
      +galleryCarousel(
        'COLLABORATIVE FACILITIES',
        'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient.',
        [
          {
            title: 'Title 1',
            body: 'Body 1',
            imgSrcSet: {
              768: '/images/668x376.jpeg',
              default: '/images/3000x1516.jpeg',
            },
          },
          {
            title: 'Title 2',
            body: 'Body 2',
            imgSrcSet: {
              768: '/images/668x376.jpeg',
              default: '/images/3000x1516.jpeg',
            },
          },
          {
            title: 'Title 3',
            body: 'Body 3',
            imgSrcSet: {
              768: '/images/668x376.jpeg',
              default: '/images/3000x1516.jpeg',
            },
          },
        ])
