extends _layouts/layout

block append vars
  - title = 'This is the page title'
  - menuActive = 'home'
  - namespace = 'home'

block container
  include ./_blocks/hero/hero-home
  include ./_blocks/home-line-runner
  include ./_blocks/service-features/capital
  include ./_blocks/service-features/compliance
  include ./_blocks/service-features/marketing
  include ./_blocks/partner-grid
  include ./_blocks/features-home
  include ./_blocks/statistics
  include ./_blocks/testimonials-carousel
  +gallery_carousel(
    'COLLABORATIVE FACILITIES',
    'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient.',
    [
      {
        title: 'Title 1',
        body: 'Body 1',
        src: 'images/3000x1516.jpeg',
      },
      {
        title: 'Title 2',
        body: 'Body 2',
        src: 'images/3000x1516.jpeg',
      },
      {
        title: 'Title 3',
        body: 'Body 3',
        src: 'images/3000x1516.jpeg',
      },
      {
        title: 'Title 4',
        body: 'Body 4',
        src: 'images/3000x1516.jpeg',
      },
      {
        title: 'Title 5',
        body: 'Body 5',
        src: 'images/3000x1516.jpeg',
      },
    ])
