extends _layouts/layout

block container
  +button({
    icon: 'arrow-circled',
    style: 'text',
    size: 'large',
    reverse: false,
    large: true,
  })(href="https://google.com").mb-3
    | Foo bar
  
  +accordion('Accordion title1', 'plus', true)
    p paragraph
  +accordion('Accordion title', 'arrow-down')
    h2 header 2
