extends _layouts/layout

block container
  +button({
    icon: 'arrow-circled',
    style: 'primary',
    size: 'large',
    reverse: false,
    large: false,
    hoverAnimation: true,
  })(href="https://google.com").mb-3
    | Foo bar

  +button({
    icon: 'arrow-circled',
    style: 'primary',
    size: 'large',
    reverse: false,
    large: false,
    hoverAnimation: false,
  })(href="https://google.com").mb-3
    | Foo bar

  +animated_header(['foo', 'bar']).text-black
  +animated_header(['foo', '<span class="text-blue">bar</span>'], 'xxl', 3, false).text-black

  +accordion('Accordion title1', 'plus', true)
    p paragraph
  +accordion('Accordion title', 'arrow-down')
    h2 header 2
