extends _layouts/layout

block container
  +breadcrumbs([
    {
      label: 'Home',
      href: '/',
    },
    {
      label: 'Storybook',
      href: '/storybook',
    },
  ])

  include ./_blocks/jobs-callout
