extends _layouts/layout

block container
  +button({
    icon: 'arrow-circled',
    style: 'primary',
    size: 'large',
    reverse: false,
    large: true,
  })(href="https://google.com").mb-3
    | Foo bar
