extends _layouts/layout

block container
  div.t-container.p-thank-you
    +animated_header(['Thank', '<span class="text-black">You</span>'], 'lg').text-blue.mt-12.p-thank-you__header
    p.p-thank-you__body.mt-4
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis natoque.